/* 1400이하 */
@media screen and (max-width: 1400px) {
    #language { }
    #language dd { width: inherit; height: inherit; 
                    background: transparent; box-shadow: 0;}
    #language dd:first-of-type { box-shadow:  0 0 transparent; }
    #language dd:nth-of-type(1)::before { display: none;}
    .goFranchise { width: inherit; height: inherit; background: none; 
    box-shadow:  0 0 transparent; text-indent: 0;}
    #quickMenu{display: none;}
    .goFranchise:hover {background: none; filter: none; box-shadow: none; }
    #coupon{background: url(../images/bg_mobile_pattern.gif);}
    #coupon a{transform: translate(0);}
    #coupon a p{text-align: center;}
}
/* 1150 이하 */
@media screen and (max-width: 1150px) {
    #header {align-items: center;}
    #header .logo {position: static;}
    #gnb{display: none;}
    main > section { height: auto; min-height: auto;
                     padding: 50px 0;}
    #event {height: 700px;}
    #store { padding: 0; }
    #store > section { height: auto; padding: 100px 0;}
    #coupon{ height: auto;}
}

/* 1050 이하 */
@media screen and (max-width: 1050px) {
    #event { 
        background: url(../images/bg_event.png) no-repeat center 100px / 500px,
        linear-gradient(45deg, rgba(247,238,219,1) 0%, rgba(255,190,190,1) 100%);
    }
    #event dl{ transform: translateX(0) translateY(130px);}
    #menu{ background: rgba(247,238,219);}
    .menuInner{transform: translateX(0);}
    #communityList {flex-wrap: wrap;}
    #communityList li{width: 32%; margin-bottom: 10px;}
}
/* 850 이하 */
@media screen and (max-width: 850px) {
    #event { 
        background: url(../images/bg_event.png) no-repeat center 100px / 400px,
        linear-gradient(45deg, rgba(247,238,219,1) 0%, rgba(255,190,190,1) 100%);
    }
    #store { flex-direction: column; }
    /* #store { flex-wrap: wrap; } */
    #store > section { width: 100%; }
}
/* 600 이하 */
@media screen and (max-width:600px) {
    #language{ 
        margin: 13px 5px 0 0;
}
#language dd{ 
    width: 50px; height: 50px;
     color: #000;
     font-size: 10px;
}
.goFranchise { 
width: 50px;
font-size: 10px;
    }
}
/* 510 이하 */
@media screen and (max-width: 510px) {

    #event dl dd:first-of-type{
        font-size: 20px;
    }
    #event dl dt{
        font-size: 80px;
    }
    .goLink{ 
        width: 370px;
        font: 15px / 67px 'GmarketSansMedium';
    }

    main h3{
        font-size: 15px; 
    }
main p{
    font-size: 50px;
}
 .storeName{
    width: 370px;
    font: 15px / 67px 'GmarketSansMedium';
 }
 .storeName::placeholder{ 
    font: 15px / 67px 'GmarketSansMedium';
 }
 .searchBtn{
    left: 320px;
 }
}